


/* Valve and pipe styling */
.horizontal-pipe,
.vertical-pipe {
  background-color: rgb(191, 76, 76);
  margin: 0;
  padding: 0;
}

.horizontal-pipe {
  width: 100px;
  height: 10px;
}

.vertical-pipe {
  width: 10px;
  height: 100px;
  justify-content: center;
}



/* Valve and inlet valve styling */
.valve,
.inlet-valve {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.valve img,
.inlet-valve img {
  max-width: 80%;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
}

.valve-number {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}
