.App-header {
  text-align: center;
  background-color: #ebedef;
}

.dashboard-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.right-panel {
  flex: 0.7;
  padding: 20px;
  height: 800px;
  justify-content: center;
  border: 1px solid #e6e2e2;
}
.left-panel {
  flex: .3;
  padding: 10px;
  display: flex;
  height: 500px;
  justify-content: left;
  border: 1px solid #141313;
}

.valve-control-dashboard {
  border: 0.5px solid #f6f5f5;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: rgb(231, 227, 227);
  justify-content: center;
  height: 600px;  /* Ensure this is enough to contain the PipeDiagram */
}


.valve-control-dashboard h1 {
  font-size: 32px;
}

.valve-control-dashboard p {
  font-size: 16px;
}

.valve-number {
  font-size: 10
  px;
}
